<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
            font-size: large;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
        
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 23%;
            display: inline-block;
            margin: 1%;
            background-color: white;
        }
        
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
        
        .container {
            padding: 2px 16px;
        }
        
        #demo {
            background-image: url(bg_img.jpg);
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 500px;
        }
        
        button {
            width: 100%;
            background-color: black;
            color: white;
            padding-top: 5px;
            padding: 5px
        }
        
        #navbar {
            text-align: center;
            color: aliceblue;
            font-size: x-large;
            position: fixed;
            width: 100%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-color: #333;
        }
        
        #pay {
            text-align: center;
            background-color: aliceblue;
            position: fixed;
            width: 100%;
            bottom: 0px;
            padding: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="margin: 0;">
    <div id="navbar">
        <ul>

            <li>
                <a class="active" href="http://localhost:3000/products">Products</a>
            </li>
            <div style="padding-top: 15px;padding: 10px;">Cart</div>
        </ul>

    </div>
    <br><br><br>
    <div>
        <div id="demo"></div>
    </div>
    <br><br><br><br>
    <div id="pay" style="background-color:black;"><button style="width: 33%; padding:10px;background-color: aliceblue;color: black;font-size: x-large;" onclick="payment()"><b id="total"> Add products to Cart </b></button></div>
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js">
</script>
<script>
    async function main() {
        var token = sessionStorage.getItem('token')
        let result = await fetch("/viewProduct", {
            method: 'GET',
            headers: {
                "Content-type": "application/json",
                "Authorization": "Bearer " + token
            },

        });
        let resData = await result.json();
        total(resData.data)
        console.log(resData.data);
        if (resData.status == 200) {
            let text = "";
            for (let i = 0; i < resData.data.length; i++) {
                let j = i + 1
                if (sessionStorage.getItem(`id_${j}`) != null) {
                    text += '<span>' + '<div class="card">' + '<div class="container">' + "<h4><b>" +
                        resData.data[i].name + "</b></h4>" + "<p> Price : Rs." + resData.data[i].price + "</p>" + "<p> Category : " + resData.data[i].product_category.category +
                        "</p>" + `<p>Quantity : <input type="number" id="quantity${i}" name="quantity${i}" onchange="totalOnChange(${resData.data.length})" value="${sessionStorage.getItem(`quantity_${j}`)}" min="1" max="5"></p>` + '</div>' +
                        `<button type="submit" id="btn${i}" onclick="remove('${j}')">` + 'Remove Product from Cart' + "</button>" +
                        '</div>' + '</span>'
                    }
            }
            document.getElementById("demo").innerHTML = text;
            
        } else {
            let text = '<img src="f.jpg" width=100% height=605px padding=2px>';
            document.getElementById("demo").innerHTML = text;
        }
    }

    async function remove(id){
        sessionStorage.removeItem(`id_${id}`)
        sessionStorage.removeItem(`name_${id}`)
        sessionStorage.removeItem(`price_${id}`)
        sessionStorage.removeItem(`category_${id}`)
        sessionStorage.removeItem(`quantity_${id}`)
        location.reload()
        main()
    }


    async function total(data){
        let total_amount= 0
        for (let i = 0; i < data.length; i++){
            let j=i+1
            if (sessionStorage.getItem(`id_${j}`) != null){
            quant = sessionStorage.getItem(`quantity_${j}`)
            let price = sessionStorage.getItem(`price_${j}`)
            total_amount =total_amount  + quant * price
            document.getElementById('total').innerHTML="Checkout : Rs."+total_amount
        }    
    }
    }

    async function totalOnChange(length){
        let total_amount= 0
        for (let i = 0; i < length; i++){
            let j=i+1
            if (sessionStorage.getItem(`id_${j}`) != null){
            quant = document.getElementById(`quantity${i}`).value   
            let price = sessionStorage.getItem(`price_${j}`)
            total_amount =total_amount  + quant * price
            document.getElementById('total').innerHTML="Checkout : Rs."+total_amount
        }    
    }
    }
    main()
</script>

</html>