<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #474e5d;
            padding-top: 50px;
        }
        
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto;
            /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%;
            /* Could be more or less, depending on screen size */
        }
        /* Style the horizontal ruler */
        
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }
        /* The Close Button (x) */
        
        .close {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 40px;
            font-weight: bold;
            color: #f1f1f1;
        }
        
        .close:hover,
        .close:focus {
            color: #f44336;
            cursor: pointer;
        }
        /* Clear floats */
        
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
            font-size: large;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
        
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 31%;
            display: inline-block;
            margin: 1%;
            background-color: white;
        }
        
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
        
        .container {
            padding: 2px 16px;
        }
        
        #demo {
            background-image: url(images/bg_img.jpg);
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 570px;
        }
        
        #content {
            backdrop-filter: blur(10px);
            min-height: 91vh;
        }
        
        button {
            width: 100%;
            background-color: black;
            color: white;
            padding-top: 5px;
            padding: 5px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        #navbar {
            text-align: center;
            color: aliceblue;
            font-size: x-large;
            position: fixed;
            width: 100%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-color: #333;
        }
    </style>
</head>

<body style="margin: 0;">
    <div id="navbar">
        <ul>
            <li>
                <a class="active" href="http://localhost:3000/admin">Orders</a>
            </li>
            <div style=" padding-top: 15px;padding: 10px; ">Count</div>
        </ul>
    </div>
    <br><br><br>
    <div>
        <div id="demo">
            <div id="content">
                <div class="card ">
                    <div class="container ">
                        <h4><b>PLACED</b></h4>
                        <p id="placed "></p>
                    </div>
                    <button onclick="placed()">View</button>
                </div>
                <div class="card ">
                    <div class="container ">
                        <h4 style="color:green "><b>ACCEPTED</b></h4>
                        <p id="accepted "></p>
                    </div>
                    <button onclick="accepted()">View</button>
                </div>
                <div class="card ">
                    <div class="container ">
                        <h4 style="color:red "><b>CANCELLED</b></h4>
                        <p id="cancelled "></p>
                    </div>
                    <button onclick="cancelled()">View</button>
                </div>
            </div>
        </div>
        <div id="id01" class="modal" style="background-color: RGB(251 233 13);">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <div class="modal-content">
                <div class="container1" id="all_placed"></div>
            </div>
        </div>
        <div id="id02" class="modal" style="background-color: RGB(251 233 13);">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            <div class="modal-content">
                <div class="container1" id="all_accepted"></div>
            </div>
        </div>
        <div id="id03" class="modal" style="background-color: RGB(251 233 13);">
            <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
            <div class="modal-content">
                <div class="container1" id="all_cancelled"></div>
            </div>
        </div>
    </div>
    </div>
</body>
<script>
    var modal = document.getElementById('id01 ');
    var modal1 = document.getElementById('id02');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        if (event.target == modal1) {
            modal1.style.display = "none"
        }
    }


    async function main() {
        var token = sessionStorage.getItem('token')
        console.log(token)
        let result = await fetch("/getCount", {
            method: 'GET',
            headers: {
                "Content-type": "application/json",
                "Authorization": "Bearer " + token
            },
        });
        let resData = await result.json();
        console.log(resData)
        if (resData.status == 200) {
            document.getElementById("placed ").innerHTML = "Count : " + resData.data.result.placed
            document.getElementById("accepted ").innerHTML = "Count : " + resData.data.result.accepted
            document.getElementById("cancelled ").innerHTML = "Count : " + resData.data.result.cancelled
        } else {
            let text = '<img src="f.jpg " width=100% height=605px padding=2px>';
            document.getElementById("demo").innerHTML = text;
        }
    }

    async function placed() {
        document.getElementById('id01').style.display = 'block'
        var token = sessionStorage.getItem('token')
        let result = await fetch("/getCount", {
            method: 'GET',
            headers: {
                "Content-type": "application/json",
                "Authorization": "Bearer " + token
            },
        });
        let resData = await result.json();
        if (resData.status == 200) {
            let text = "";
            for (let i = 1; i < resData.data.result.allPlaced.length; i++) {
                text += '<span>' + '<div class="card">' + '<div class="container">' + "<h4><b>Total : Rs." +
                    resData.data.result.allPlaced[i].total + "</b></h4>" + '<p> Name : ' + resData.data.result.allPlaced[i].order_items[0].product.name + '</p>' +
                    '<p> Email : ' + resData.data.result.allPlaced[i].user.email + '</p>' +
                    '<p>Payment Status : ' + resData.data.result.allPlaced[i].payment_status + '</p>' +
                    '</div>' + '</div>' + '</span>'
            }
            document.getElementById("all_placed").innerHTML = text;
        } else {
            let text = '<img src="f.jpg " width=100% height=605px padding=2px>';
            document.getElementById("demo").innerHTML = text;
        }
    }

    async function accepted() {
        document.getElementById('id02').style.display = 'block'
        var token = sessionStorage.getItem('token')
        let result = await fetch("/getCount", {
            method: 'GET',
            headers: {
                "Content-type": "application/json",
                "Authorization": "Bearer " + token
            },
        });
        let resData = await result.json();
        if (resData.status == 200) {
            let text = "";
            for (let i = 1; i < resData.data.result.allAccepted.length; i++) {
                text += '<span>' + '<div class="card">' + '<div class="container">' + "<h4><b>Total : Rs." +
                    resData.data.result.allAccepted[i].total + "</b></h4>" + '<p> Name : ' + resData.data.result.allAccepted[i].order_items[0].product.name + '</p>' +
                    '<p> Email : ' + resData.data.result.allAccepted[i].user.email + '</p>' +
                    '<p>Payment Status : ' + resData.data.result.allAccepted[i].payment_status + '</p>' +
                    '</div>' + '</div>' + '</span>'
            }
            document.getElementById("all_accepted").innerHTML = text;
        } else {
            let text = '<img src="f.jpg " width=100% height=605px padding=2px>';
            document.getElementById("demo").innerHTML = text;
        }
    }

    async function cancelled() {
        document.getElementById('id01').style.display = 'block'
        var token = sessionStorage.getItem('token')
        let result = await fetch("/getCount", {
            method: 'GET',
            headers: {
                "Content-type": "application/json",
                "Authorization": "Bearer " + token
            },
        });
        let resData = await result.json();
        if (resData.status == 200) {
            let text = "";
            for (let i = 1; i < resData.data.result.allCancelled.length; i++) {
                text += '<span>' + '<div class="card">' + '<div class="container">' +
                    "<h4><b>Total : Rs." + resData.data.result.allCancelled[i].total +
                    "</b></h4>" + '<p> Name : ' + resData.data.result.allCancelled[i].order_items[0].product.name + '</p>' +
                    '<p> Email : ' + resData.data.result.allCancelled[i].user.email + '</p>' +
                    '<p>Payment Status : ' + resData.data.result.allCancelled[i].payment_status + '</p>' +
                    '</div>' + '</div>' + '</span>'
            }
            document.getElementById("all_placed").innerHTML = text;
        } else {
            let text = '<img src="f.jpg " width=100% height=605px padding=2px>';
            document.getElementById("demo").innerHTML = text;
        }
    }


    main();
</script>

</html>